[package]
name = "bpfcontain"
version = "0.0.2"
authors = ["William Findlay <william@williamfindlay.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "bpfcontain"

[lib]
name = "bpfcontain"

# Criterion benchmark
[[bench]]
name = "overhead"
harness = false

[dependencies]
anyhow = "1.0.36"
libbpf-rs = "0.7.0"
clap = "2.33.3"
libc = "0.2.81"
daemonize = "0.4.1"
log = "0.4.11"
simple_logger = "1.11.0"
goblin = "0.3.0"
bitflags = "1.2.1"
serde_yaml = "0.8.14"
serde = { version = "1.0.118", features = ["derive"] }
glob = "0.3.0"
config = "0.10.1"
nix = "0.19.1"
pod = "0.5.0"
regex = "1.4.3"
lazy_static = "1.4.0"
enum_dispatch = "0.3.5"

[build-dependencies]
bindgen = "0.56.0"

[dev-dependencies]
criterion = "0.3.3"
osbench-rs = {git = "https://github.com/willfindlay/osbench-rs"}
